.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100px;
  position: fixed;
  padding: 0 60px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro traslúcido */
  backdrop-filter: blur(40px); /* Efecto de desenfoque */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.leftNav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.rightNav {
}

.navSorteoButton {
  color: #fff;
  border: solid 1px #fff;
  transition: transform 0.3s ease;
}

.navSorteoButton:hover {
  transform: scale(1.1);
}
