.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100vw;
  height: 20vh;
  margin-top: -100px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footerLinksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footerInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1024px) {
  .footer {
    flex-direction: column;
    padding: 0 10vw;
    height: 30vh;
    margin-top: 0;
    gap: 7vw;
  }
  .footerLinksContainer {
    gap: 4vw;
  }

  .footerLinks {
    gap: 5vw;
  }

  .footerInfoContainer {
    gap: 4vw;
  }
}
