.promotionModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #000;
}

.promotionCarImage {}

.content {}

.sorteoImage {}

.buttonsContainer {}

.tycLabel {}
