.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center; */
  height: 100vh;
  /* padding: 80px;
  gap: 64px; */
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {

}

.videoContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1; /* Asegura que el video esté detrás del resto del contenido */
}

.videoBackground {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  object-fit: cover;
  z-index: -1;
}

.mainTitle {
  position: relative;
  bottom: 50vh;
  left: 7vw;
  font-weight: 700;
  font-size: 6rem;
  text-shadow: 1px 1px 2px #000;
}

@media (max-width: 1024px) {
  .videoContainer {
    height: 110vw;
    min-height: 70vh;
  }
.mainTitle {
  font-size: 7vw;
  bottom: 60vw;
}
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

